<p style="color: green"><%= notice %></p>

<% content_for :title, "Movies" %>

<h1>Movies</h1>

<div>
  <%= form_with url: movies_path, method: :get, local: true, class: "sort-form" do %>
    <label for="sort">Sort by:</label>
    <%= select_tag :sort, options_for_select([["Title", "title"], ["Rating", "rating"], ["Release Date", "release_date"]], params[:sort])%>

    <label for="direction">Order:</label>
    <%= select_tag :direction, options_for_select([["Ascending", "asc"], ["Descending", "desc"]], params[:direction])%>

    <%= submit_tag "Sort"%>
  <% end %>
</div>

<div id="movies">
  <table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Rating</th>
      <th>Release Date</th>
      <th>View Details</th>
    </tr>
  </thead>
  
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= movie.rating %></td>
        <td><%= movie.release_date %></td>
        <td>
          <%= link_to "Show", movie %> 
        </td>
      </tr>
    <% end %>
  </tbody>

  <tfoot>
  </tfoot>
</table>
</div>

<%= link_to "New movie", new_movie_path %>
