<p style="color: green"><%= notice %></p>

<%= render @movie %>

<div>
  
  <button onclick="location.href='<%= edit_movie_path(@movie) %>'">Edit this movie</button>

  <button onclick="location.href='<%= movies_path %>'">Back to movies</button>

  <%= button_to "Destroy this movie", @movie, method: :delete %>
</div>
